<div class="container">
    <div class="main">
        <div class="message-us">
            <div class="left">
                <div class="desc">
                    <h3>Message Us</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus aspernatur enim ea sapiente quis reprehenderit eum repellendus, aut cumque consectetur laudantium dicta fugit incidunt. Eum quod dicta ipsam est ratione.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium accusamus nemo veritatis vel nihil doloribus libero incidunt, iusto inventore alias ad minima temporibus doloremque labore molestiae numquam maiores natus!
                    </p>
                </div>
            </div>
            <div class="right">
                <app-form></app-form>
            </div>
        </div>
    </div>
</div>