<div class="container">
    <div class="main">
        <div class="message-us">
            <div class="left">
                <div class="desc">
                    <h3>Message Us</h3>
                    <p>SOCH MARKETING welcomes all customer quires, We have 24/7 customer support available for you assitance.We truely believe in customer satisfaction.If you have any quries or question talks to us!
                    </p>
                </div>
            </div>
            <div class="right">
                <app-form></app-form>
            </div>
        </div>
    </div>
</div>