<div class="containerr">
    <div class="main">
        <div class="upper">
            <div class="left">
                <div class="image">
                    <img src="../../../assets/aa.jpg" alt="">
                </div>
                <div class="overlay">
                    <p>“To be successful in real estate, you must always and consistently put your clients' best interests first. When you do, your personal needs will be realized beyond your greatest expectations.” -Anthony Hitt </p>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <h3>
                        Vision & Mission
                    </h3>
                    <p>
                        Mission of Soch Marketing is to be authentic, legitimate and unbiased forum to make selling and buying cost effective, mechanical and easier as much as possible. We prioritize maintain upstanding and highest level of customer-oriented service by providing accurate and up to date information and skillful analysis about real estate market in twin cities. We wish to be the leading real estate market that always try to come up with top quality service by implementing highly advanced strategies.
                    </p>
                </div>
                <div class="cards">
                    <div class="card">
                        <span class="icon">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </span>
                        <div class="details">
                            We consistently strive to develop collaborative partnerships, based on transparency and mutual trust, which serve to build enduring client relationships
                        </div>
                    </div>
                    <div class="card">
                        <span class="icon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <div class="details">
                            As a full-service real estate business, our clients can seamlessly access definitive commercial and residential property advice, driving meaningful value and ensuring a cohesive approach.
                        </div>
                    </div>
                    <div class="card">
                        <span class="icon">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        </span>
                        <div class="details">
                            We’re proud to consistently deliver exceptional results to optimise the value of our clients’ property assets.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="lower">
            <div class="left">
                <div class="details">
                    <h2>Introduction</h2>
                    <p>
                        Soch marketing visualize itself as fast growing real estate service providers in twin cities. We wish to offer transparent and integrated expertise across the region. Values of our firm are honesty, commitment and collaborative partnership between employees, company and clients. We believe in cohesive culture based on mutual trust, energetic and result driven work environment ensuring positive and steady outcomes. Our organization aims to be most preferred place for both employees and investors. We are dedicated to develop a long term client relationship by continually analyzing the modern marketing services.  </p>
                </div>
                
            </div>
            <div class="right">
                <div class="main-details">
                    <h3>
                        OUR OBJECTIVES
                    </h3>
                    <p>
                        Communication, commitment, and client care are the core values that emanate throughout every activity that we undertake. By listening and taking the time to understand our clients’ needs, we’re able to purvey comprehensive, holistic real estate advice. We’re proud to consistently deliver exceptional results to optimise the value of our clients’ property assets, at home and abroad.
                    </p>
                </div>
                <div class="styled">
                    <div class="del">
                        <span class="icon">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <div class="info">
                            Our extensive real estate databases are also utilised by our advisory professionals, who deliver customized reports based on client’s specific needs. Our team works closely with various real estate developers and investors across all asset classes throughout the development process, to optimize their returns and reduce risks. </div>
                    </div>
                    <div class="del">
                        <span class="icon">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <div class="info">
                            We understand the role valuation plays in all real estate decisions. Our dedicated team of valuation professionals provide impartial valuations for both single assets and portfolios in Pakistan,across a wide range of real estate asset classes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>