<div class="containerr">
    <div class="main">
        <div class="upper">
            <div class="left">
                <div class="image">
                    <img src="../../../assets/aa.jpg" alt="">
                </div>
                <div class="overlay">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nesciunt. VeConsequuntur dolorem, totam laborum voluptas et maxime ducimus. </p>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <h3>
                        heading
                    </h3>
                    <h3>
                        Vision & Mission
                    </h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora sapiente neque animi modi, consequuntur suscipit ea voluptate cum, reprehenderit, harum quia! Accusamus sunt quos, perspiciatis non quibusdam perferendis odit numquam.
                    </p>
                </div>
                <div class="cards">
                    <div class="card">
                        <span class="icon">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </span>
                        <div class="details">
                            elit. Dicta adipisci numquam omnis animi quas accusamus ullam quos labore maxime! Quisquam explicabo molestias error quam fuga placeat omnis totam, fugit provident.
                        </div>
                    </div>
                    <div class="card">
                        <span class="icon">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </span>
                        <div class="details">
                            elit. Dicta adipisci numquam omnis animi quas accusamus ullam quos labore maxime! Quisquam explicabo molestias error quam fuga placeat omnis totam, fugit provident.
                        </div>
                    </div>
                    <div class="card">
                        <span class="icon">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </span>
                        <div class="details">
                            elit. Dicta adipisci numquam omnis animi quas accusamus ullam quos labore maxime! Quisquam explicabo molestias error quam fuga placeat omnis totam, fugit provident.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="lower">
            <div class="left">
                <div class="details">
                    <h2>Introduction</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores harum temporibus delectus error nihil nisi deserunt architecto perspiciatis expedita, ipsam incidunt eaque nulla maxime maiores. Delectus consequuntur commodi tenetur! Beatae?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit magnam unde voluptates a nemo blanditiis aspernatur similique tempore autem, quas quam ipsa tenetur pariatur facere, eaque voluptatem maiores omnis rerum!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque voluptas quidem quis consequatur recusandae omnis nam illo culpa molestiae perspiciatis nulla deleniti quae aut possimus iure eligendi, veniam laboriosam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia non debitis possimus optio odit magnam amet suscipit porro voluptate eaque dolorum, nostrum, quos voluptatibus, commodi magni facilis at! Quisquam, nam?
                    </p>
                </div>
                
            </div>
            <div class="right">
                <div class="main-details">
                    <h3>
                        OUR OBJECTIVES
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque animi, totam, esse eligendi soluta rem provident laudantium earum possimus dolorem ipsam molestiae molestias ipsa? Nisi non aut rerum ducimus similique.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo fugit eligendi est! Reprehenderit, facilis porro omnis adipisci libero ea unde est fugit numquam quae nisi. Qui labore odio dolorem magnam.
                    </p>
                </div>
                <div class="styled">
                    <div class="del">
                        <span class="icon">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </span>
                        <div class="info">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa optio unde modi ratione provident maiores obcaecati dignissimos nemo eveniet cumque facilis, aspernatur sit. Possimus nam nobis vero fugiat quidem.
                        </div>
                    </div>
                    <div class="del">
                        <span class="icon">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </span>
                        <div class="info">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa optio unde modi ratione provident maiores obcaecati dignissimos nemo eveniet cumque facilis, aspernatur sit. Possimus nam nobis vero fugiat quidem.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>