
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a >about us</a></li>
                    <li><a >our services</a></li>
                    <li><a >privacy policy</a></li>
                    <li><a >affiliate program</a></li>
                </ul>
            </div>
            <!-- <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a >lorem</a></li>
                    <li><a >lorem</a></li>
                    <li><a >lorem</a></li>
                    <li><a >lorem</a></li>
                </ul>
            </div> -->
            <!-- <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a >lorem</a></li>
                    <li><a >lorem</a></li>
                    <li><a >lorem</a></li>
                    <li><a >lorem</a></li>
                </ul>
            </div> -->
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a ><i class="fa fa-facebook-f"></i></a>
                    <a ><i class="fa fa-twitter"></i></a>
                    <a ><i class="fa fa-instagram"></i></a>
                    <a ><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
