<div class="container">
<div class="main">
   <div class="left sec">
      <div class="image">
         <img src="../../../assets/aa.jpg" alt="">
      </div>
   </div>
   <div class="right sec">
      <div class="heading">
         About
      </div>
      <div class="desc">
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est molestiae rerum aliquam molestias commodi voluptatibus, sit ducimus aut porro perspiciatis similique fugiat nobis explicabo vero quis sed magni reiciendis? Dolor.</p>
         <p class="bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, consequuntur, alias perspiciatis magnam facere nostrum odio quis iure sunt aperiam excepturi adipisci facilis consectetur dolore laboriosam, illum ex. Mollitia, sapiente.</p>
      </div>
      <div class="phone">
         <span class="icon">
            <i class="fa fa-phone" aria-hidden="true"></i>
         </span>
         +1 (234) 567-8910
      </div>
   </div>
</div>
</div>