<div class="container">
<div class="main">
   <div class="left sec">
      <div class="image">
         <img src="../../../assets/aa.jpg" alt="">
      </div>
   </div>
   <div class="right sec">
      <div class="heading">
         About
      </div>
      <div class="desc">
         <p>Soch Marketing is a prime real estate agency with utmost priority of providing remunerative investment opportunities to our valuable clients. We have a team of highly professional and skilful agents that assist you with most efficient, cost effective, innovative strategies in accordance with your demands and budget. We deal in residential, commercial and business plots. We are the most reliable real estate consultants having progressive marketing plans, projects and strategies to cater all the queries and concerns of our precious investors and clients. We ensure that we pave the path of progress for both Customers and the company to have a win -win situation in this global arena of marketing. </p>
          </div>
      <div class="phone">
         <span class="icon">
            <i class="fa fa-phone" aria-hidden="true"></i>
         </span>
         +92 (333) 749-1680
      </div>
   </div>
</div>
</div>