<div class="form">
    <div class="row">
        <div class="col-md-6 d">
         
            <input id="fname" type="text" placeholder="&nbsp;">
            <span class="place">First Name</span>

        </div>
        <div class="col-md-6 d">
          
            <input id="lname" type="text"  placeholder="&nbsp;">
            <span class="place">Last Name</span>
        
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d">
           <input id="email" type="text"  placeholder="&nbsp;">
           <span class="place">Email</span>

        </div>
       
    </div>
    <div class="row">
        <div class="col-md-12 d">
            
            
            <textarea name="message" id="message"  rows="10"  placeholder="&nbsp;"></textarea>
            <span class="place">Enter Message</span>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-12 btn d">
            <button style="background-color: aliceblue;">Submit</button>
        </div>
    </div>
</div>