<div class="main">
  <div class="custom-carousal">
    <div class="image">
      <ng-container *ngFor="let image of images; index as i">
        <img *ngIf="selectedIndex == i" #images [src]="image" alt="" [ngClass]="{ 'selected':selectedIndex==i}">

      </ng-container>
      <!-- <img #images class="right-out"  src="../../../assets/aa.jpg" alt="" alt=""> -->

    </div>
    <div class="image-dots">
      <span (click)="changeSelection(i)" class="dot" *ngFor="let image of images; index as i"
        [ngClass]="{ 'selected-dot':selectedIndex==i}"></span>
    </div>
  </div>
  <div class="flexa row-one">
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/ceo.jfif'+') ' }">
      <div class="border">
        <h5>Bilawal Sheikh</h5>
        <h6 class="ohda">CEO</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    
 
  </div>
  <div class="flexa row-two">
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/naveed.jfif'+') ' }">
      <div class="border">
        <h5>Naveed Ahmad Bodlah</h5>
        <h6 class="ohda">Director General</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/MD.jfif'+') ' }">
      <div class="border">
        <h5>Makhdoom Zeeshan Quershi</h5>
        <h6 class="ohda">Managing Director</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="flexa row-three">
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/Head.jfif'+') ' }">
      <div class="border">
        <h5>Syed Muhammad Mehdi Naqvi</h5>
        <h6 class="ohda">Marketing Head</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/MM.jpg'+') ' }">
      <div class="border">
        <h5>Hira Abbas Mughal</h5>
        <h6 class="ohda">Marketing Manager</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/aashir.jpeg'+') ' }">
      <div class="border">
        <h5>Ashir Javeed</h5>
        <h6 class="ohda">Bussiness Developement Executive</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>
  
  <div class="flexa row-three">
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/adnan.jpeg'+') ' }">
      <div class="border">
        <h5>Adnan Noor Khokhar</h5>
        <h6 class="ohda">Bussiness Developement Executive</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/faisal.jpeg'+') ' }">
      <div class="border">
        <h5>Faisal Sheikh</h5>
        <h6 class="ohda">Bussiness Developement Executive</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/ashmal.jpg'+') ' }">
      <div class="border">
        <h5>Ashmal Mashhadi</h5>
        <h6 class="ohda">Bussiness Developement Executive</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="card" [ngStyle]="{background:'url('+'../../../assets/hassan.jfif'+') ' }">
      <div class="border">
        <h5>Hassan Raza Quershi</h5>
        <h6 class="ohda">Bussiness Developement Executive</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  
  <div class="flexa row-three">
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/talha.jpg'+') ' }">
      <div class="border">
        <h5>Talha Rahim</h5>
        <h6 class="ohda">Bussiness Developement Executive</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/umair.jfif'+') ' }">
      <div class="border">
        <h5>Umair Durani</h5>
        <h6 class="ohda">Bussiness Developement Executive</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card" [ngStyle]="{background:'url('+'../../../assets/saeed.jfif'+') ' }">
      <div class="border">
        <h5>Saeed Bodlah</h5>
        <h6 class="ohda">Bussiness Developement Executive</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="card" [ngStyle]="{background:'url('+'../../../assets/zahoor.jfif'+') ' }">
      <div class="border">
        <h5>Sardar Zahoor</h5>
        <h6 class="ohda">Bussiness Developement Executive</h6>
        <div class="icons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="flexa">
    
  </div>
 
</div>